# 今日からつなげるPython DB接続 (JDBC)
必要なもの: 
ライブラリ　JayDeBeApi
https://github.com/baztian/jaydebeapi

* 接続先のDBに対応したJDBCドライバー
* JDBC接続先URL
* DB接続用 ID・Password
<br />
<br />
\+ Java Runtime Environment (JRE)

この方法の他にDBベンダーが提供するライブラリによる接続やODBC接続等での接続が可能です。

In [ ]:
#DB2 Sample
#localのdb、thinkjpに接続

import jaydebeapi #JDBC DB接続ライブラリ-
import pandas as pd

conn = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver', #JDBC Driver名
    'jdbc:db2://localhost:50000/thinkjp',#接続先JDBC URL
     {'user': 'db2inst1', #DB接続ID
      'password':'thinkjapan'} , #DB接続pw  
     '/Applications/dsdriver/java/db2jcc4.jar'
     # JDBC Driver path (CLASSPATHが通っていれば不要)
    )

# SQL実行結果をDataFrame読み込み
ZIPCODE_JPは郵便番号データのテーブルです。

In [3]:
# DataFrame読み込み
# 郵便番号 1030015のデータをSELECT
df_db = pd.read_sql("SELECT * FROM ZIPCODE_JP WHERE ZIPCODE='1030015'", conn)
df_db

,JP_LOCCODE,OLD_ZIPCODE,ZIPCODE,PREFECTURE_KANA,CITY_KANA,ADDRESS_KANA,PREFECTURE_KANJI,CITY_KANJI,ADDRESS_KANJI,FLAG1,FLAG2,FLAG3,FLAG4,UPDATE_CODE,UPDATE_REASON,ROW_ID
0,13102,103,1030015,ﾄｳｷｮｳﾄ,ﾁｭｳｵｳｸ,ﾆﾎﾝﾊﾞｼﾊｺｻﾞｷﾁｮｳ,東京都,中央区,日本橋箱崎町,0,0,0,0,0,0,187905

<br>
<br>
<br>